.navs-color{
    background: linear-gradient(90deg, rgba(0,122,63,1) 0%, rgba(0,122,63,1) 30%, rgba(255,210,0,1) 100%);
}

.navbar{
    /* HEADER */
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: larger;
    .navs-header img{
        width: 110px;
        
    }
    .navbar-letras{
        flex-direction: row-reverse;
        li{
            margin-right: 10px!important;
        }
        .nav-item a{
            transition: font-size 0.2s linear 0s;
            &:hover{
                font-size: x-large;
            }
        }
    }

    /* FOOTER */
    .navs-footer {
        display: flex;
        justify-content: center;
        img{
            width: 60px;
            margin: auto 35px auto 35px;
        }
    }

}

/* --- RESPOSNIVE --- */

@media (max-width: 768px){
    .navs-color{
        background: rgb(0,122,63);
        background: radial-gradient(circle, rgba(0,122,63,1) 0%, rgba(0,122,63,1) 30%, rgba(255,210,0,1) 100%);
    }
    .navs-header{
        justify-content: center!important;
    }
    .navbar-nav{
        flex-direction: row!important;
    }
}

@media (max-width: 425px){
    .navs-color{
        background: rgb(0,122,63);
    background: linear-gradient(180deg, rgba(0,122,63,1) 0%, rgba(0,122,63,1) 63%, rgba(255,210,0,1) 85%);
    }
    .navbar{
        font-size: 15px;
        text-align: center;
    }
}
